<% if (title) { %>
  <h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<div id="container">
  <form id="editInvForm" action="/inv/delete-inventory" method="post">
    <div>
      <label for="inv_make">Make</label>
      <input 
        type="text"
        id="inv_make"
        name="inv_make"
        required
        pattern="^[a-zA-Z0-9]{3,50}$"
        readonly
        <% if(locals.inv_make) { %> value="<%= locals.inv_make %>"
        <% } %>
      >
    </div>
    <div>
      <label for="inv_model">Model</label>
      <input 
        type="text"
        id="inv_model"
        name="inv_model"
        required
        pattern="^[a-zA-Z0-9]{3,50}$"
        readonly
        <% if(locals.inv_model) { %> value="<%= locals.inv_model %>"
        <% } %>
      >
    </div>
    <div>
      <label for="inv_year">Year</label>
      <input 
        type="number"
        id="inv_year"
        name="inv_year"
        required
        min="1900"
        max="2025"
        readonly
        <% if(locals.inv_year) { %> value="<%= locals.inv_year %>"
        <% } %>
      >
    </div>
    <div>
      <label for="inv_price">Price</label>
      <input 
        type="number"
        id="inv_price"
        name="inv_price"
        required
        min="1"
        max="10000000"
        readonly
        <% if(locals.inv_price) { %> value="<%= locals.inv_price %>"
        <% } %>
      >
    </div>
    <input type="hidden" name="inv_id"
    <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
    <% } %>>
    <button type="submit" value="Confirm Deletion - This delete is permanent!">Confirm Deletion - This delete is permanent!</button>
  </form>