<% if (title) { %>
  <h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<div id="container">
  <form id="editInvForm" action="/inv/update" method="post">
    <div>
      <label for="classification_id">Classification</label>
      <%- classifications %>
    </div>
    <div>
      <label for="inv_make">Make</label>
      <input 
        type="text"
        id="inv_make"
        name="inv_make"
        required
        pattern="^[a-zA-Z0-9]{3,50}$"
      >
    </div>
    <div>
      <label for="inv_model">Model</label>
      <input 
        type="text"
        id="inv_model"
        name="inv_model"
        required
        pattern="^[a-zA-Z0-9]{3,50}$"
      >
    </div>
    <div>
      <label for="inv_year">Year</label>
      <input 
        type="number"
        id="inv_year"
        name="inv_year"
        required
        min="1900"
        max="2025"
      >
    </div>
    <div>
      <label for="inv_description">Description</label>
      <textarea 
        id="inv_description"
        name="inv_description"
        required
        pattern="^[a-zA-Z0-9]{3,50}$"
      ></textarea>
    </div>
    <div>
      <label for="inv_image">Image</label>
      <input 
        type="file"
        id="inv_image"
        name="inv_image"
        required
        accept="image/*"
      >
    </div>
    <div>
      <label for="inv_thumbnail">Thumbnail</label>
      <input 
        type="file"
        id="inv_thumbnail"
        name="inv_thumbnail"
        required
        accept="image/*"
      >
    </div>
    <div>
      <label for="inv_price">Price</label>
      <input 
        type="number"
        id="inv_price"
        name="inv_price"
        required
        min="1"
        max="10000000"
      >
    </div>
    <div>
      <label for="inv_miles">Miles</label>
      <input 
        type="number"
        id="inv_miles"
        name="inv_miles"
        required
        min="1"
        max="10000000"
      >
    </div>
    <div>
      <label for="inv_color">Color</label>
      <input 
        type="text"
        id="inv_color"
        name="inv_color"
        required
        pattern="^[a-zA-Z]{3,50}$"
      >
    </div>
    <input type="hidden" name="inv_id"
    <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
    <% } %>>
    <button type="submit" value="Update Vehicle">Update Vehicle</button>
  </form>